.verse-container {
	border: 1px solid black;
}
.verse-label {
	padding: 0.5em;
}
.delete-icon {
	font-size: 1.2em;
	opacity: 0.5;
	cursor: pointer;
	transition: color 0.2s, opacity 0.2s;
}
.delete-icon:hover {
	color: red;
	opacity: 1;
	transition: color 0.2s, opacity 0.2s;
}
