.scripture-view {
	margin-top: 5vh;
}
.scripture-view .scripture-body {
	margin-top: 5vh;
}

.scripture-view .scripture-body .verse-body {
	padding: 5px;
	cursor: pointer;
	transition: background-color 0.2s, color 0.2s;
}
.scripture-view .scripture-body .verse-body:hover {
	background-color: rgb(197, 135, 0);
	color: white;
	transition: background-color 0.2s, color 0.2s;
}
.scripture-view .scripture-body .verse-num {
	font-size: 0.8em;
	vertical-align: super;
}

.scripture-view .scripture-body .verse-text {
	font-size: 1.2em;
}
