.App {
	text-align: center;
}

.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: rgb(153, 150, 150);
}

.App-link {
	color: #367936;
	transition: color 0.2s;
}
/* .App-link:hover {
	color: #4eaf4e;
	text-decoration: none;
	transition: color 0.2s;
} */
.navigate-link-container {
	flex-direction: column;
	display: flex;
	justify-content: space-around;
}

.navigate-link-container .link-box {
	border: 1px solid black;
	border-radius: 15px;
	cursor: pointer;
}
.navigate-link-container .link-box:hover .App-link {
	color: #4eaf4e;
	text-decoration: none;
	transition: color 0.2s;
}
