body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

/* Common Styles */
.scroll-view {
	height: 100vh;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: scroll;
}
.home-link {
	font-size: 1.5em;
	color: silver;
	transition: color 0.2s;
}
.home-link:hover {
	color: rgb(133, 130, 130);
	text-decoration: none;
	transition: color 0.2s;
}
